*

!.gitignore
!README.md

!home/
!home/pi/
!home/pi/RetroPie/
!home/pi/RetroPie/roms/
!home/pi/RetroPie/roms/*/
!home/pi/RetroPie/roms/*/gamelist.xml

!opt/
!opt/retropie/
!opt/retropie/configs/
!opt/retropie/configs/all/
!opt/retropie/configs/all/emulationstation/
!opt/retropie/configs/all/emulationstation/gamelists/
!opt/retropie/configs/all/emulationstation/gamelists/*/
!opt/retropie/configs/all/emulationstation/gamelists/*/gamelist.xml
